{% include 'nav.html'%}
{% load static %}

<style>
	body{
		background-color: lightgray;
	}
	.card{
		margin-top: 20px;
        margin: auto;
        margin-bottom: 20px;

       }

</style>
<body>
<div class="container" >
	<div class="row">
{%for i in courses%}



  <div class="card" style="width: 18rem;">
	<p class="card-text" style="background-color: orange;"><i>{{i.category}}</i></p>	
	<img src="/media/{{i.photo}}" class="card-img-top" alt="...">
	<div class="card-body" style="max-height: 300px; overflow: auto;">
	  <h5 class="card-title">{{i.course_name}}</h5>
	  <p class="card-text">{{i.course_desc}}</p>
	</div>
  </div>

<br>
{% endfor %}

</div>
</div>

</body>
{% include 'footer.html'%}